body{
    background-color: black;color:floralwhite;
}
header{
    border-radius: 9px 9px 9px 9px; position:fixed; width:99%; opacity:0.975; background-color: #444241 ;width:99%; 
 }
 #navtable {
    width:100%; text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: x-large; border-radius: 9px;
 }
 .cell {
    background-color: gray;padding:1%; 
}
a{
    color:white; text-decoration:none;
}
main{
    padding-top:140px;
}
#main_table {
    width: 97%; text-align: center; 
}
#sequence_table {
    text-align:center ; width : 99%;
}
 #sequence_image {
    width:150px ; height : 220px
}
#sequence_text{
    font-family:Arial, Helvetica, sans-serif;
}
#rotten{
    color:orangered;
}
#imdb{
    color:goldenrod
}
